*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
font-size: 3.5em;
}
h2{
font-size: 2.7em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1,75em;

}
.logo{
    font-size: 5em;
}
ul{
    list-style: none;
}
button{
    font-size: 1.5em;
    margin: 40px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 5);
    color: rgb(0, 0, 0);
    background-color: blueviolet;    
}
.colorPalabra{
    color: blueviolet;
}
.containerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.principalHeader{
    
    display: flex;
    background-color: rgb(0, 0, 0);
}
header .ImgContainer{
    width: auto;
    display: flex;
}
header .container{
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
}

header .navBar {
    display: flex;
    

}
@media (max-width: 600px){
    .navBar{
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        padding: 1px;

    }
}

header .botonNav{
    display: flex;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 10px;
    border: 2px black;
    border-radius: 10px;
    margin: 60px;
    align-items: center;
    text-decoration: none;
    font-weight: bold;

}
#principalDelIndex{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
    color: white;
    background-image: url(../Assets/IMG/Nuevas/pexels-vadym-alyekseyenko-10923302.jpg);
    background-size: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,5),
        rgba(0,0,0,5),
        );
    background-repeat: no-repeat;
}
.class-container{
    text-align: center;
    padding: 10px 12px;
}
.especiesIndex{
background-color: rgb(30, 30, 30);
padding: 30px 12px;
}
@media (max-width: 600px){
    .ImgContainer{
        display: flex;
        flex-direction: column;
    }
}



.especiesIndex .container{
    text-align: center;
    color: white;
}
.especiesIndex .especies{
    padding: 30px;
}
.kitsCultivo .container{
    text-align: center;
    padding: 100px 12px;
}
.kitsCultivo li{
    margin: 15px 0px;
    font-weight: bold;
}
footer .container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 40px;
}
footer a{
    justify-content: space-between;
    text-decoration: none;
    font-size: 2em;
}


.containerNosotros{
    display: flex;
    width: 100%;

}
/*Comienza estilado de Contacto*/

.seccionQuienesSomos{
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.dondeEncontrarnos{
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.formulario{
    background-color: black;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.contactoTexto{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.3rem;
}

/*Inicio Estilado Historia*/
.origenes{
    width: auto;
    text-align: center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DDHC{
    background-color: black;
    color: white;
    margin-left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
.masInfo{
    text-align: center;
    background-color: black;
    color: white;
    margin-left: 0;
}
.videohistoria{
    display: flex;
    justify-content: center;
    padding: 50px;
}

/*Inicio Estilado Nosotros*/

.estiladoNosotrosPrincipal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.textoNosotros{
    background-color: black;
    color: white;
    padding: 30px;
}
.estiladoNosotrosPrincipal p{
    text-align: center;
}
.videoNosotros{
    display: flex;
    justify-content: center;
    padding: 50px;   
}


/*Inicio Estilado Galería */
#carouselExampleIndicator{
    display: flex;
}
.carousel-inner{
    padding: 40px;
}
.textoGal{
    background-color: black;
    color: white;
    padding: 20px;
}



